
.text_animation {
  display: none;
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1;
}

.text_animation .letter {
  display: inline-block;
  opacity: 0;
}

.text_animation .cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.55em;
  /* height: 1em; */
  /* background: #f5f5f5; */
  background: black;
  z-index: 1;
}
